<div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4>NASA</h4>
        <p class="text-body-secondary">NASA and SpaceX are accelerating the launch and return dates for crew rotation missions to and from the International Space Station. The agency’s Crew-10 launch is targeted for Wednesday, March 12, followed by the Crew-9 mission's return to Earth.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <h4>Humans in Space</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">NASA’s SpaceX Crew-10</a></li>
          <li><a href="#" class="text-white">NASA’s SpaceX Crew-9</a></li>
          <li><a href="#" class="text-white">NASA + Series</a></li>
        </ul>
      </div>
    </div>
  </div>